*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    margin:0;
    background-image:url("Photo/background\ 4.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    background-attachment:fixed;   /* Scroll করলেও background থাকবে */
    min-height:100vh;
}

header{
    background:#010a2e;
    color:white;
    text-align:center;
    padding:20px;
}

.slider{
    width:90%;
    max-width:1200px;
    height:650px;
    margin:40px auto;

    position:relative;
    overflow:hidden;
    border-radius:15px;

    /* Center the slider image */
    display:flex;
    justify-content:center;
    align-items:center;
}

.slider img{
    width:95%;
    height:95%;
    object-fit:contain;
    transition:all .6s ease;
    z-index:2;
}
.slider::before{
    content:"";
    position:absolute;
    inset:0;
    background:rgba(0,0,0,0.35);
    z-index:1;
}

.slider img,
.counter{
    position:relative;
    z-index:2;
}

.slide-out{
    animation:slideOut .5s forwards;
}

.slide-in{
    animation:slideIn .5s forwards;
}

@keyframes slideOut{
    from{
        transform:translateX(0);
    }
    to{
        transform:translateX(-100%);
    }
}

@keyframes slideIn{
    from{
        transform:translateX(100%);
    }
    to{
        transform:translateX(0);
    }
}

.counter{
    position:absolute;
    bottom:20px;
    right:20px;
    color:rgb(231, 233, 229);
    background:rgba(2, 57, 91, 0.799);
    padding:8px 15px;
    border-radius:20px;
}
h2{
    text-align:center;
    margin:30px;
    color: #ffffff;
}

.gallery{
    width:90%;
    margin:auto;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
    margin-bottom:40px;
}

.card{
    background:rgb(52, 136, 214);
    border-radius:10px;
    overflow:hidden;
    box-shadow:0 5px 15px rgba(6, 2, 34, 0.96);
}

.card img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.card h3{
    padding:10px;
}

.card p{
    padding:0 10px 15px;
}
.modal{
    display:none;
    position:fixed;
    z-index:9999;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:rgba(2, 7, 22, 0.873);

    justify-content:center;
    align-items:center;
    flex-direction:column;
}

.modal img{

    max-width:90%;
    max-height:70%;
    object-fit:contain;
    border-radius:10px;

}

.modal-content{

    width:90%;
    max-width:900px;
    color:rgb(247, 243, 243);
    margin-top:20px;
    text-align:center;

}

.modal-content h2{

    margin-bottom:15px;

}

.modal-content p{

    margin:8px 0;
    line-height:1.6;

}

.close{

    position:absolute;
    right:35px;
    top:20px;

    color:rgb(246, 242, 242);
    font-size:45px;
    cursor:pointer;

}